h2.event
  a(href="/events/#{meetup.index}") ##{meetup.index} – #{meetup.name}

  span.meta
    b.num When: #{moment(meetup.time + meetup.utc_offset).format("MMMM Do, YYYY @ h:mm a")}
    br
    span.num Where: #{meetup.venue.name} - 
    a(href="http://maps.google.com/?q=#{meetup.venue.address_1} #{meetup.venue.city} #{meetup.venue.state}")
      span #{meetup.venue.address_1}, #{meetup.venue.city} #{meetup.venue.state}

    if meetup && meetup.status == "past"
      br
      span.past (This meetup already happened)
    if meetup.status == "upcoming"
      br
      br
      b Reserve your spot today: 
      a.btn.call(href='#{meetup.event_url}') RSVP
      br
      b (Spots available: #{meetup.rsvp_limit - meetup.yes_rsvp_count}/#{meetup.rsvp_limit})
  
